@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$awita: #145e70;
$black: #050505;
$gris-claro: #3c3c3b;
$blanco-diario: #ebebd3;

$font-diario: 'Bebas Neue', sans-serif;

.hidden {
  display: none;
}

.imgMarkdown {
  width: 100%;
  height: 350px;
  /* Establecer el ajuste de la imagen */
  object-fit: contain;
  border-radius: 20px;
  box-shadow: 20px black;
}

.mongo {
  background-color: aqua;
  color: black;
  font-weight: 600;

}

.has-line-data {
  background-color: black;
}

/*Globales*/
.currentColor {
  background-color: white;
}

.nav-bar {
  background-color: rgba(0, 0, 0, 0.829);

  .title-nav {
    font-family: 'Bebas Neue', sans-serif;
    color: white;
  }

  .text-nav-link {
    color: white;
  }

  .text-nav-link:hover {
    color: $awita;
    transition: 0.5s;
  }

  .text-nav-link:not(:hover) {
    color: white;
    transition: 0.5s;
  }
}

/*Section port*/
.section-port {
  background-color: white;
  padding-top: 100px;

  .port {
    background-color: white;
    height: 80vh;
    margin: 0 5%;

    @media (max-width: 667px) {
      height: 70vh;
    }

    .title-port {
      color: $black;
      padding-top: 80px;
      font-family: 'Bebas Neue', sans-serif;
    }

    .subtitle {
      margin: 10px 15%;
      color: $black;
      text-align: center;
      font-weight: 600;
      font-family: 'Bebas Neue', sans-serif;
    }

    hr {
      margin-right: 0 25%;
      border: 2px solid $black;
    }

    .icon-down {
      position: absolute;
      left: 50%;
      top: 80%;
      transform: translate(-50%, -50%);
      justify-content: center;

      @media (max-width: 375) {
        left: 50%;
        top: 60%;
      }
    }

    .icon-down:hover {
      color: $awita;
      transition: 0.5s; 
    }

    .icon-down:not(:hover) {
      color: $black;
      transition: 0.5s;
    }
  }

  .icon-port:hover {
    color: $awita;
    transition: 0.5s;
    transform: scale(1.5);
  }

  .icon-port:not(:hover) {
    transition: 0.5s;
  }

}

/*End Section port*/

/*Section Blog*/
.section-blog {

  background-color: white;
  padding-top: 80px;

  .post-preview:hover {
    transition: transform 0.4s ease-in-out;
    transform: scale(1.05);
  }

  .post-preview:hover h2 {
    text-decoration: underline;
  }

  .post-preview:not(:hover) {
    transition: transform 0.2s ease-in-out;
    transition: 0.5s;
  }
}

/*EndSection Blog*/

/*Section Post*/
.section-posts {
  padding-top: 50px;

  .sidebar {
    padding-top: 50px;
    background-color: white;
  }
}

/*End Section Post*/

.section-newshack {
  background-color: #147052;
}

/*Footer*/
.text-footer-link {
  font-family: $font-diario;
}

/*End Footer*/