@tailwind base;
@tailwind components;
@tailwind utilities;

.hidden {
  display: none;
}

.imgMarkdown {
  width: 100%;
  /* Hacer que la imagen ocupe el 100% del ancho del contenedor */
  height: 250px;
  /* Fijar una altura específica */
  object-fit: contain;
  /* Establecer el ajuste de la imagen */
  border-radius: 10px;
  /* Agregar bordes redondeados */
}

.post-preview:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.05);
}

.post-preview:hover h2 {
  text-decoration: underline;
}
